# Server Configuration
PORT=
NODE_ENV=
HOST=
DEBUG_MODE=

# Database Credentials
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

MONGODB_URI=

# Email Service Credentials
SMTP_HOST=m
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

EMAIL_FROM= 

# Resend Credentials
RESEND_API_URL=

# Third-Party API Keys
RESEND_API_KEY= 

# OpenTelemetry Credentials
OTEL_SERVICE_NAME=

OTEL_TRACES_EXPORTER=
OTEL_METRICS_EXPORTER=
OTEL_LOGS_EXPORTER=

OTEL_EXPORTER_OTLP_ENPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=

OTEL_NODE_ENABLED_INSTRUMENTATIONS=
EXPORTER_TARGET=

SERVICE_VERSION=

# Grafana Credentials
GRAFANA_OTLP_TOKEN=

# Cron-Jobs Credentials
CRON_SECRET=